.list {
  display: inline-block;
  padding: 0;
}

.item {
  width: 400px;
  display: flex;
  padding: 5px 15px;
  border: 3px solid rgb(255, 166, 0);
  border-radius: 20px;
  background-color: rgb(209, 141, 14);
  margin-bottom: 10px;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item:last-child {
  margin-bottom: 0;
}

.item:hover {
  transform: scale(1.07);
}
.button {
  /* justify-content: end; */
  margin-left: auto;
  padding: 5px 15px;
  border-radius: 13px;
  border: 2px solid rgb(247, 215, 171);
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(255, 247, 236);
}

.button:hover {
  background-color: rgb(250, 226, 192);
  transform: scale(1.07);
}

.userName {
  margin-right: 15px;
}
